.filmography-container {
    width: 90%;
    height: 92vh;
    position: fixed;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: var(--spacing-large);
    background-color: lightblue;
    box-shadow: var(--box-shadow);
    z-index: 2;
}

.filmography_header {
    height: 50px;
    background-color: lightblue;
}

.filmography_paragraph {
    color: black; 
    font-family: ‘Trocchi’, serif;
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin-left: 5%;
}

.filmography-element {
    margin: auto;
    width: 95%;
    margin-top: 5px;
}

.filmography-element__producer {

}

.filmography__close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    background-image: url(cancel.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}