.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: #003366;
}

.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}